aioredis
alembic
bcrypt==3.2.2
cloudinary
django
greenlet
fastapi
fastapi-limiter
fastapi-mail
faker
fakeredis[async]
httpx
passlib[bcrypt]==1.7.4
pillow
psycopg2-binary
pyqrcode
pypng
pytest-asyncio
python-dotenv
python-jose[cryptography]
python-multipart
pydantic
pydantic-settings
pytest
pytest-asyncio
qrcode
redis
setuptools
sqlalchemy
sqlalchemy-utils
uvicorn
